<template>
  <div class="hello">
    <div class="header">
      <div class="mainmenu">
        <div v-if="false" class="globalOptions">
          -- Global options placeholder --
        </div>
        <div class="info localOptions">
          <span v-if="documentOpen" v-on:click="save" class="lui-icon lui-icon--large lui-icon--save" aria-hidden="true" title="Save"></span>
        </div>
        <div v-bind:class="selectClass">          
          <el-select v-if="enigma.connected === true" v-model="documentOpenTemp" placeholder="Select document from the list" @change="appChange">
            <el-option v-for="app in apps" :key="app.qDocId" :label="app.qTitle" :value="app.qDocId">
            </el-option>
          </el-select>
          <img v-else src="../assets/Rolling.gif"></img>
           <!-- <span v-else>{{msg}} </span> -->
          
        </div>
      </div>
      <div class="info ">
        <span v-on:click="dialogVisible = true" class="lui-icon  lui-icon--cogwheel" aria-hidden="true" title="Options"></span>
        <span v-on:click="dialogVisible = true" class="lui-icon  lui-icon--info" aria-hidden="true" title="About"></span>        
        <el-dialog title="Tips" :visible.sync="dialogVisible" size="tiny" :before-close="handleDialogClose">
          <span>This is a message</span>
          <span slot="footer" class="dialog-footer">
            <!--<el-button @click="dialogVisible = false">Cancel</el-button>-->
            <el-button type="primary" @click="dialogVisible = false">Close</el-button>
          </span>
        </el-dialog>
      </div>
    </div>
    <div v-if="documentOpen">
      <div>
        <ul>
          <li v-for="(command, indexCommand) in activeCommands">
            <div class="title">
              <div class="text">                
                <span v-on:click="executesection(command)" class="lui-icon lui-icon--large lui-icon--play areabuttons" aria-hidden="true" title="RUN! (or Ctrl + Enter)"></span>
                <!-- <span v-on:click="checkSyntax(command,indexCommand)" class="lui-icon lui-icon--large lui-icon--lightbulb areabuttons" aria-hidden="true" title="Check syntax (or Ctrl + ???)"></span> -->
                {{ command.title }}
                <span v-on:click="dialogEditTitle = true" class="lui-icon  lui-icon--small lui-icon--edit areabuttons" aria-hidden="true" title="Edit section name"></span>
  
                <el-dialog title="Edit section name" :visible.sync="dialogEditTitle">
                  <el-form>
                    <el-form-item label="New section name" :label-width="formLabelWidth">
                      <el-input v-model="command.title" auto-complete="off"></el-input>
                    </el-form-item>
                  </el-form>
                  <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditTitle = false">Cancel</el-button>
                    <el-button type="primary" @click="changeSectionTitle(indexCommand)">Confirm</el-button>
                  </span>
                </el-dialog>
  
              </div>
              <div class="options">
                <span v-on:click="addSection" class="lui-icon  lui-icon--add areabuttons" aria-hidden="true" title="Add new section below"></span>
                <span v-on:click="removeSection(indexCommand)" class="lui-icon  lui-icon--remove areabuttons" aria-hidden="true" title="Remove this section"></span>
                <span v-on:click="moveUpSection(indexCommand)" class="lui-icon  lui-icon--arrow-up areabuttons" aria-hidden="true" title="Move up"></span>
                <span v-on:click="moveDownSection(indexCommand)" class="lui-icon  lui-icon--arrow-down areabuttons" aria-hidden="true" title="Move down"></span>
                <!--<span v-on:click="historysection" class="lui-icon  lui-icon--history areabuttons" aria-hidden="true" title="History"></span>-->
              </div>
            </div>
            <div class="expression">
              <!-- <div>
                                                                                  <v-select v-model="command.selectedDimensions" :options="dimensions" :on-change="dimensionsChange" multiple></v-select>
                                                                                </div>  @edit="handleTabsEdit" -->
              <template>
                <el-tabs v-model="command.activeName" editable @tab-click="handleClick" @tab-remove="handleTabsRemove" @tab-add="handleTabsAdd(indexCommand)">
                  <el-tab-pane v-for="(expression, index) in command.expressions" v-bind:key="expression.name" v-bind:label="expression.id" v-bind:name="expression.name">
                    <!-- <span slot="label">
                                                    <i class="lui-icon  lui-icon--play" v-on:click="test"></i> Route</span> -->
                    <div><span v-on:click="checkSyntaxClick(indexCommand, index)" class="lui-icon lui-icon--large lui-icon--puzzle areabuttons" aria-hidden="true" title="Check syntax (or Shift + Enter)"></span>{{expression.syntax}}</div>
                    <codemirror v-model="expression.text" :options="editorOptions" @ready="onEditorReady" @change="onEditorCodeChange" @focus="onEditorFocus(expression.name, indexCommand)" @blur="onEditorBlur"></codemirror>                    
                  </el-tab-pane>
                </el-tabs>
              </template>
            </div>
            <div class="result">
              {{ command.result }}
            </div>
          </li>
        </ul>
        <!-- <span class="lui-icon  lui-iconlui-icon--play" aria-hidden="true"></span> -->
      </div>
    </div>
  
  </div>
</template>

<script>

import enigma from 'enigma.js';
import SectionComponent from './Section'
//import WebSocket from 'ws'; 
//const WebSocket = require('ws');
 
const schema = require('enigma.js/schemas/12.20.0.json');

// create a new session:
const session = enigma.create({
  schema,
  url: 'ws://localhost:4848/app/engineData',
  createSocket: url => new WebSocket(url),
});

session.on('traffic:sent', function(data) {

})
session.on('traffic:received', function(data) {

});

function s4() {
  return Math.floor((1 + Math.random()) * 0x10000)
    .toString(16)
    .substring(1);
}

function guid() { 
  return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
}

var sort_by = function(field, reverse, primer){

   var key = primer ? 
       function(x) {return primer(x[field])} : 
       function(x) {return x[field]};

   reverse = !reverse ? 1 : -1;

   return function (a, b) {
       return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
     } 
}

export default {
  name: 'helper',
  components: {
    SectionComponent
  },
  data() {
    return {
      msg: 'Loading ...',
      selectClass: 'centered',
      dialogVisible: false,
      dialogEditTitle: false,
      formLabelWidth: '150px',
      activeEditor: '',
      activeCommands: [],
      enigma: {
        connected: false,
        hyperCubeTemplate: {
          qInfo: {
            qType: 'sense-helper-hypercube',
          },
          qHyperCubeDef: {
            qDimensions: [
              //{ qDef: { qFieldDefs: ['ID'] }, },
            ],
            qMeasures: [
              // { qDef: { qDef: '=Sum(Value)' }, },
            ],
            qInitialDataFetch: [
              {
                qHeight: 5,
                qWidth: 2,
              },
            ],
          },
        }
      },
      commandTemplate: [{
        title: 'Title',
        description: '',
        expressions: [
          { text: '=//** Expression \n\n\n\n', id: 'Expression', name: '' }
        ],
        activeName: '',
        result: '',
        executionTime: '',
        selectedDimensions: []
      }],
      commands: {},
      dimensions: [
        'Month', 'Department', 'Region'
      ],
      apps: [
        { 'name': 'App1', 'id': '1-1-1-1' },
        { 'name': 'App2', 'id': '2-2-2-2' },
        { 'name': 'App3', 'id': '3-3-3-3' }
      ],
      documentOpen: null,
      documentOpenTemp: '',
      code: 'const a = 10',
      editorOptions: {
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'base16-dark',
        lineNumbers: true,
        line: true,
        // keyMap: "sublime",
        extraKeys: { "Ctrl": "autocomplete" },
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        styleSelectedText: true,
        highlightSelectionMatches: { showToken: /\w/, annotateScrollbar: true },
      }
    }
  }, methods: {
    addSection: function () {
      var _this = this;
      var commandTemplate = [{
        title: 'My Title',
        description: '',
        expressions: [
          { text: '//** Expression\n = \n\n\n', id: 'Expression', name: '' }
        ],
        activeName: '',
        result: '',
        executionTime: '',
        selectedDimensions: []
      }]
      var id = guid();
      var newExpression = commandTemplate[0];
      newExpression.expressions[0].name = id;
      newExpression.activeName = id;

      _this.commands[_this.documentOpen.id].push(newExpression)
    },
    removeSection: function (index) {
      var _this = this;
      _this.commands[_this.documentOpen.id].splice(index, 1);

      if (!_this.commands[_this.documentOpen.id].length) {
        _this.commands[_this.documentOpen.id].push(_this.commandTemplate[0])

        var id = guid();
        _this.commands[_this.documentOpen.id][0].expressions[0].name = id;
        _this.commands[_this.documentOpen.id][0].activeName = id;


        setTimeout(function () {
          _this.$children[2].$children[1].$children[0].editor.refresh()
        }, 100);
      }
    },
    executesection: function (command) {
      var _this = this;
      _this.calculateExpression(command.expression)
    },
    checkSyntaxClick: function(sectionIndex, tabIndex) {
      var _this = this;
      // console.log(_this)
      //_this[][sectionIndex][tab]

      // console.log(sectionIndex, tabIndex)
    },
    checkSyntax: function(editor) {
      var _this = this;
      var command = editor.getValue();
      _this.enigma.document.checkExpression(command)
        .then(function(checkSyntaxResult) {
          // console.log(checkSyntaxResult)
          var expressions = _this.commands[_this.documentOpen.id][_this.activeEditor.commandIndex].expressions;
          
          for (var i = 0; i < expressions.length; i++) {
            if (expressions[i].name == _this.activeEditor.id) {

                var errors = '';
                
                if(checkSyntaxResult.qErrorMsg.length > 0 || checkSyntaxResult.qBadFieldNames.length > 0) {
                  if(checkSyntaxResult.qErrorMsg.length > 0) {
                    expressions[i].syntax = checkSyntaxResult.qErrorMsg;
                  }

                  if( checkSyntaxResult.qBadFieldNames.length > 0 ) {
                    var fieldNames = 'Bad field name(s): ';

                    for( var b = 0; b < checkSyntaxResult.qBadFieldNames.length; b++) {
                      fieldNames += command.substring( checkSyntaxResult.qBadFieldNames[b].qFrom, checkSyntaxResult.qBadFieldNames[b].qFrom + checkSyntaxResult.qBadFieldNames[b].qCount ) + ', ';                 
                    }

                    expressions[i].syntax = fieldNames;

                  }
                } else {
                  expressions[i].syntax = 'No errors'
                }
              }
            }          
        })
    },
    moveUpSection: function (index) {
      var _this = this;
      if (index != 0) {
        var element = _this.commands[_this.documentOpen.id][index];
        _this.commands[_this.documentOpen.id].splice(index, 1);
        _this.commands[_this.documentOpen.id].splice(index - 1, 0, element);
      }
    },
    moveDownSection: function (index) {
      var _this = this;
      if (index != (_this.commands[_this.documentOpen.id].length - 1)) {
        var element = _this.commands[_this.documentOpen.id][index];
        _this.commands[_this.documentOpen.id].splice(index, 1);
        _this.commands[_this.documentOpen.id].splice(index + 1, 0, element);
      }
    },
    historysection: function () {
      console.log('history')
    },
    calculateExpression: function (editor) {
      var _this = this;
      var cube = _this.enigma.hyperCubeTemplate;
      cube.qHyperCubeDef.qMeasures = [];
      var expression = editor.getValue();
      cube.qHyperCubeDef.qMeasures.push({ qDef: { qDef: expression } })

      _this.enigma.document.createObject(cube)
        .then(function(object) {
          return object.getLayout()
        })
        .then(function(layout) {
          var dataMatrix = layout.qHyperCube.qDataPages[0].qMatrix;


        })


    },
    save: function () {
      var _this = this;
      localStorage.setItem('qlik-helper', JSON.stringify(_this.commands));

      const h = _this.$createElement;
      _this.$notify({
        title: '',
        message: h('i', { style: 'color: teal' }, 'Saved'),
        duration: 1000,
        type: 'success'
      });
    },
    onEditorReady(editor) {
      var _this = this;
      editor.refresh();   

      var map = {
        "Ctrl-Enter": function (cm) {
          _this.calculateExpression(editor)
        },
        "Shift-Enter": function (cm) {
          _this.checkSyntax(editor)
        }        
      }
      editor.addKeyMap(map);
    },
    onEditorFocus(id, indexCommand) {
      this.activeEditor = { commandIndex: indexCommand, id: id };
    },
    onEditorBlur() {
      //this.activeEditor = editor;      
    },
    onEditorCodeChange(newCode) {
      var _this = this;
      var expressions = _this.commands[_this.documentOpen.id][_this.activeEditor.commandIndex].expressions;

      for (var i = 0; i < expressions.length; i++) {
        if (expressions[i].name == _this.activeEditor.id) {
          expressions[i].syntax = '';
          var t = expressions[i].text.split('\n');

          t = t[0];
          if (t.indexOf('//**') > -1) {
            expressions[i].id = t.replace('//**', ' ').replace('=', '') + '   ';
          }
        }
      }
    },
    dimensionsChange: function (val) {
      var _this = this;
    },
    appChange: function (app) {
      var _this = this;
        app = { name: 0, id: app };
        _this.documentOpen = app;

        if (!_this.commands[app.id]) {
          _this.$set(_this.commands, app.id.toString(), _this.commandTemplate)
        }

        _this.activeCommands = _this.commands[app.id]
        _this.selectClass = 'mainmenu'

      _this.enigma.global.openDoc(_this.documentOpen.id)
        .then(function(doc) {
          _this.enigma.document = doc;
          return doc.checkExpression('count(Value)')
        })
        .then(function(checkExpressionResult) {
          // console.log(checkExpressionResult)
        })

    },
    handleClick(tab, event) {
      setTimeout(function () {
        tab.$children[0].editor.refresh()
      }, 100);
    },
    handleDialogClose(done) {
      done();
      // this.$confirm('Are you sure to close this dialog?')
      //   .then(_ => {
      //     done();
      //   })
      //   .catch(_ => { });
    },
    handleTabsEdit(targetName, action) {
      // console.log(targetName)
      // var _this = this;
      // if (action === 'add') {

      //   // this.editableTabs.push({
      //   //   title: 'New Tab',
      //   //   name: newTabName,
      //   //   content: 'New Tab content'
      //   // });
      //   // this.editableTabsValue = newTabName;

      //   var id = guid();
      //   var newExpression = _this.commandTemplate[0];
      //   newExpression.expressions.id = guid();

      //   //_this.commands[_this.documentOpen.id].push(newExpression)

      //   //console.log(_this.commands[_this.documentOpen.id])
      //   _this.commands[_this.documentOpen.id][0].expressions.push({
      //     text: 'sum( ' + id + ' )\n\n\n\n\n', id: 'Expression', name: id
      //   })

      //   _this.commands[_this.documentOpen.id][0].activeName = id;
      // }

      // if (action === 'remove') {
      //   let tabs = _this.commands[_this.documentOpen.id][0].expressions
      //   let activeName = _this.commands[_this.documentOpen.id][0].activeName
      //   if (activeName === targetName) {
      //     tabs.forEach((tab, index) => {
      //       if (tab.name === targetName) {
      //         let nextTab = tabs[index + 1] || tabs[index - 1];
      //         if (nextTab) {
      //           activeName = nextTab.name;
      //         }
      //       }
      //     });
      //   }

      //   _this.commands[_this.documentOpen.id][0].activeName = activeName;
      //   _this.commands[_this.documentOpen.id][0].expressions = tabs.filter(tab => tab.name !== targetName);

      //   if (tabs.length == 1) {
      //     var id = guid();
      //     _this.commands[_this.documentOpen.id][0].expressions.push({
      //       text: 'sum( ' + id + ' )\n\n\n\n\n', id: 'Expression', name: id
      //     })

      //     _this.commands[_this.documentOpen.id][0].activeName = id;
      //   }
      // }
    },
    handleTabsAdd: function (index) {
      var _this = this;
      var id = guid();

      _this.commands[_this.documentOpen.id][index].expressions.push({
        text: '=//** Expression\n\n\n\n', id: 'Expression', name: id
      })

      _this.commands[_this.documentOpen.id][index].activeName = id;
    },
    handleTabsRemove: function (targetName) {
      var index = null;
      var _this = this;

      for (var i = 0; i < _this.commands[_this.documentOpen.id].length; i++) {
        for (var e = 0; e < _this.commands[_this.documentOpen.id][i].expressions.length; e++) {
          if (_this.commands[_this.documentOpen.id][i].expressions[e].name == targetName) {
            index = i;
            break;
          }
        }
      }

      let tabs = _this.commands[_this.documentOpen.id][index].expressions
      let activeName = _this.commands[_this.documentOpen.id][index].activeName
      if (activeName === targetName) {
        tabs.forEach((tab, index) => {
          if (tab.name === targetName) {
            let nextTab = tabs[index + 1] || tabs[index - 1];
            if (nextTab) {
              activeName = nextTab.name;
            }
          }
        });
      }

      _this.commands[_this.documentOpen.id][index].activeName = activeName;
      _this.commands[_this.documentOpen.id][index].expressions = tabs.filter(tab => tab.name !== targetName);

      if (tabs.length == 1) {
        var id = guid();
        _this.commands[_this.documentOpen.id][index].expressions.push({
          text: '=//** Expression\n\n\n\n', id: 'Expression', name: id
        })

        _this.commands[_this.documentOpen.id][index].activeName = id;
      }
    },
    showInfo: function () {
      console.log('test')
    },
    changeSectionTitle: function (index) {
      var _this = this;
      _this.dialogEditTitle = false;
    },
    test: function () {
      console.log('test')
    }
  },
  computed: {
    editor() {
      return this.$refs.myEditor.editor
    }
  },
  mounted() {
    var _this = this;
    var fromStorage = localStorage.getItem('qlik-helper');
    if (!fromStorage) {
      localStorage.setItem('qlik-helper', JSON.stringify([]));
    } else {
      var commands = JSON.parse(fromStorage);

      for (var property in commands) {
        for(var i = 0; i < commands[property].length; i++) {
          for(var e = 0; e < commands[property][i].expressions.length; e++) {
            commands[property][i].expressions[e].syntax = '';
          }        
        }
      }
        _this.commands = commands;
    }

    session.open()
      .then(function(global) {
        _this.enigma.global = global;
        return global.getDocList()
      })
      .then(function(documents) {
        // console.log(documents)
         documents.sort(sort_by('qTitle', false, function(a) {
            return a.toUpperCase()
        }))
        _this.apps = documents;
        _this.enigma.connected = true;
      })
      // .then(() => session.close())
      // .then(() => console.log('Session closed'))
      .catch(function(err) {
        console.log(err)
        _this.msg = "Something went wrong :'(";
      });


  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.title {
  text-align: left;
  border-bottom-style: solid;
  border-width: 1px;
  height: 30px;
  background-color: lightgray;
}

.title>.text {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  float: left;
}

.title>.options {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  float: right;
}

.expression {
  text-align: left;
  border-bottom-style: solid;
  border-width: 1px;
}

.expressionText {
  width: 98%;
}

.result {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.section {
  margin-top: 20px;
  border-top-style: solid;
}

.mainmenu {
  float: left
}

.info {
  float: right
}

.header {
  display: flow-root
}

.areabuttons {
  padding-right: 10px;
  cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
}

​ .dropdown {
  font-family: 'QlikView Sans';
}

.el-select {
  width: 700px !important;
  font-size: 18px !important;
  font-family: 'QlikView Sans' !important;
}

.el-select-dropdown__item {
  font-size: 18px !important;
  font-weight: bold !important;
}

.globalOptions {
  text-align: left
}

.localOptions {
  padding-top: 7px;
  padding-left: 7px;
}
</style>
