<template>
    <div class="section"></div>
</template>

<script>
import EditorComponent from './TabEditor'

export default {
    data() {
        return {
            name: 'test'
        }
    },

};
</script>

<style> 

</style>