<template>
  <div id="app">
    <helper></helper>
  </div>
</template>

<script>

import Helper from './components/Helper'



export default { 
  name: 'app',
  components: {
    Helper
  }
}
</script>

<style>
#app {
  font-family: 'QlikView Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  top: 0;
}

@font-face {
  font-family: "LUI icons";
  src: url(/static/lui-icons.woff) format('woff'),
  url(/static/lui-icons.ttf) format('truetype');
}

@font-face {
  font-family: 'QlikView Sans';
  src: url(/static/qlikview-sans.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.CodeMirror {
  text-align: left;
  height: auto;
  font-family: 'QlikView Sans';
  font-size: 14px;
  
}

.CodeMirror-scroll {
  max-height: 200px;
}

body {
  font-family: 'QlikView Sans'
}
</style>
